@tailwind base;
@tailwind components;
@tailwind utilities;


h1,h2,h3,h4,h5,h6,p, li, ol {
    font-family: Poppins;
}

body{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}



.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.px-6 {
    padding-left: 0;
}

.copyright{
    margin-left: 0.5rem;
}

.radio{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
}


.frecuencias{
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
}

.frecuencias h1{
    margin-bottom: 5rem;
    font-size: 40px;
    font-family: Poppins;
    font-weight: 800;
}

.am{
    margin-bottom: 1rem;
}
.am h2{
    font-size: 27px;
}
.fm{
    margin-top: 1rem;
}
.fm h2{
    font-size: 27px;
}
.foto{
    width: 40%;
}
.text-large{
    margin-top: 0;
    width: 11rem;
}
.NombreYFrecuencia{
    flex-direction: column;
    width: 25vw;
    margin-left: 1rem;
}
.navbarLogo{
    margin-right: 0.5rem;
}
.navbarMenu{
    flex-direction: row;
    width: 100vw;
}
.w-6{
    width: 4rem;
}
.tituloMovile {
    padding-top: 10px;
    font-size: 21px;
}
.tarjeta {
    display: flex;
    flex-direction: row;
}
.search{
    margin: 1rem;
    font-size: 20px;
}
.font-size-lg {
    font-size: 19px; 
    font-weight: 400;
    padding-left: 2rem;

    }
.fondoListaRadios{
    height: 100%;
    width: 100%;
}
.navbarContent{
    width: 100vw;
}
.justify-start{
    justify-content: flex-end;
}

@media (min-width: 640px) and (max-width: 1024px) {
    .justify-start{
        justify-content: flex-start;
    }
    .foto{
        width: 100%;
    }
    .fondoListaRadios{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .grid{
        display: flex;
    }

}

@media (min-width: 1025px) and (max-width: 1200px) {
    .justify-start{
        justify-content: flex-start;
    }
    .foto{
        width: 100%;
    }
    .fondoListaRadios{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .grid{
        display: flex;
    }

    
}

@media (min-width: 1200px) {
    .justify-start{
        justify-content: flex-start;
    }
    .foto{
        width: 100%;
    }
    .fondoListaRadios{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .grid{
        display: flex;
    }
    
}